.txt-final-h3{
    font-weight: 700;
font-size: 30px;
line-height: 45px;
width: 162px;
display: flex;
margin: auto;

border-bottom: 2px solid rgba(58, 18, 10, 1);
color: #3A120A;
height: 45px;


}

.txt-final-h3 span{
    color: rgba(205, 124, 94, 1);
}

.final-img-box{
    border: 0px solid red;
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.final-img-box img{
    width: 100%;
    border-radius: 20px;

}

.final-btn-1{
    display: flex;
    margin: auto;
border: transparent;
justify-content: center;
align-items: center;
padding: 13px 82.5px;
gap: 10px;
background: #CD7C5E;
border-radius: 50px;
font-weight: 700;
font-size: 20px;
line-height: 30px;



color: #FFFFFF;
}

a{
    text-decoration: none;
}