.grp-img-gen{
    width: 100%;
}

.gen-txt-h3{
    font-weight: 600;
font-size: 40px;
line-height: 60px;
/* text-align: center; */
/* width: 450px; */
color:#3A120A;
}

.gen-txt-h3 span{
    color: 
    rgba(205, 124, 94, 1);
}

.select-rooms p{
    font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #3A120A;
}

.drop-btn-1{
    font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #3A120A;
}

.uploader-box{
    display: flex;
    flex-direction: column;
    width: 90%;
    border: 1px dashed #3A120A;
border-radius: 30px;
text-align: center;
}

.uploader-box img{
    width: 20%;
    display: flex;
    margin: auto;
    color: 
    rgba(58, 18, 10, 1);
}

.upload-btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13px 80px;
gap: 10px;
border: transparent;
width: 336px;
height: 56px;
margin: auto;
background: #CD7C5E;
border-radius: 50px;
font-weight: 700;
font-size: 20px;
line-height: 30px;



color: #FFFFFF;
}

.input-gen-1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    border: transparent;
  
   
    /* background: #CD7C5E; */
/* border-radius: 50px; */
}


/* Generate.css */
.loader{
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top: 3px solid #000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.8s linear infinite;
    margin-right: 10px;
  }
  
  @keyframes spin{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Fade effect */
  .loading{
    opacity: 0.5;
    pointer-events: none;
  }
  

@media only screen and (max-width:600px){
.upload-btn{
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}
.input-gen-1{
    width: 100%;
    
}
}
@media only screen and (max-width:390px){
.upload-btn{
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    margin-left: -22px;
}
.input-gen-1{
    width: 100%;

}
}