.pay-txt-p{
    font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #A1543D;
}

.pay-sub-1{
    border: 1px solid #3A120A;
border-radius: 20px;
height: 100px;
display: flex;
justify-content: space-between;
padding: 12px;
align-items: center;

}

.mini-sub-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0px solid red;
width: 40%;
line-height: 27px;
}
.mini-sub-1 p{
    font-weight: 500;
font-size: 16px;


color: #3A120A
}
.mini-sub-1 span{
    font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #3A120A;
}

.money-box{
    border: 0px solid blue;
    font-weight: 700;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #3A120A
}

.pay-sub-1:hover{
    cursor: pointer;
    transition: 0.5s;
    background: #F6D1B9;
    
}

.main-pay-box{
    background: rgba(246, 209, 185, 0.22);
}

.form-txt-h3{
    font-weight: 600;
font-size: 40px;
line-height: 60px;
/* identical to box height */


color: #3A120A;
}

.form-txt-h3 span{
    color: rgba(205, 124, 94, 1);
}

.card-paypal-box{
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit-card{
    display: flex;
justify-content: space-evenly;
padding: 0px;
align-items: center;
border: 1px solid #3A120A;
border-radius: 50px;
width: 40%;

}

.date-cvv{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-items: center;
    border: 0px solid red;
}

 .expire-txt{
    border: 0px solid green;
    width: 40%;
    padding: 5px;
}

.expire-txt input{
    width: 100%;
}

.sub-total{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.form-main-box input{
    border: 1px solid #3A120A;
border-radius: 50px;
height: 50px;
padding: 15px;
}

.email-input-pay{
    width: 100%;
}

.form-main-box{
    font-weight: 500;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #3A120A
}

.payement-box-1>img{
    width: 100%;
}


.pay-btn-1{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 13px 162.5px;
gap: 10px;
    background: #CD7C5E;
border-radius: 50px;
    height: 56px;
    width: 100%;
    border: transparent;
    color: #FFFFFF;
    font-weight: 700;
font-size: 20px;
}